.container {
  height: 800px;
  width: 800px;
  border: 1px dotted black;
  position: relative;
  margin: auto;
}

.child {
  border: 1px solid red;
}

.box1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 400px;
}

.box2 {

}