* {
  box-sizing: border-box;
}

.container {
  height: 800px;
  width: 800px;
  border: 1px dotted black;
  position: relative;
  margin: auto;
  margin-top: 2%;
}

.child {
  border: 1px solid red;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.0em;
  text-align: center;
  color: rgb(63, 63, 63);
}

.box1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 400px;
  background-color: paleturquoise;
}

.box2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
  width: 400px;
  background-color: palegoldenrod
}

.box3 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 400px;
  background-color: palegreen
}

.box4 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 400px;
  width: 400px;
  background-color: palevioletred;
}